@import "./assets/styles/shaping-sizing.scss";
@import "./assets/styles/typo.scss";
@import "./assets/styles/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #70777b;
}
